:root {
    --main-bg-color: #EDEDE4; 
    --menu-bg-color: #554E44;
    --menu-text-color:  #FFFFFF;
    --menu-hover-color: coral;
    --text-accent-color: #F74906;
    --text-color: #000;
    --link-text-color: black;
    --link-h:over-color purple;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
  }
  * {
    box-sizing: border-box;
  }

  h1 {
      font-size: 3.5rem;
      color: var(--text-color);
      padding: 0;
      margin: 0;
  }

  h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    padding: 0;
    margin: 0;
  }
/*
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  
  ul li a {
    color: var(--link-text-color);
    font-size: 5rem;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid transparent;
  }

  ul li a:hover {
    color: coral;
  }
*/
  nav {
    margin: 0;
    padding: 0.3rem;
    background: var(--menu-bg-color);
  }

  /*#menu ul {*/
  #menu { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
  }

  #menu li a {
    color: white;
    font-size: 2rem; 
    /*font-size: calc(1vw); */
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid transparent;
  }

  #menu li a:hover {
    /*border: 2px solid coral;*/
    color: coral;
  }
  a[href="#four"] {
    white-space: nowrap;
  }
  a[href="#one"] {
    border: none;
  }
  a[href="#one"]:hover {
    border: none;
  }

  #nav ul li:nth-of-type(1) {
    margin-right: auto;
  }
  
  #mobile-nav {
    display: none;
    color: white;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0;
  }
  
  @media screen and (orientation: portrait) {
    nav {
      background: linen;
    }
    ul li a {
      color: var(--men);
    }
  }
  
  @media screen and (hover: none) {
    ul li a {
      font-size: 8px;
    }
    #nav {
      display: none;
    }
    #mobile-nav {
      display: block;
    }
  }
  @media screen and (min-width: 1000px) {
    ul li a {
      font-size: 2rem;
    }
  }
  
  /*
  section {
    min-height: 100vh;
    border: 1px solid grey;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  section a {
    font-size: 4rem;
  }
  */

  .codepen_link {
    align-items: top;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);    
  }

  #profile {
    min-height: 100vh;
    border: 1px solid grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;  
    font-size: 1.3rem;  
    color: var(--text-color);
    background-color: var(--main-bg-color); 
  }

  #contact_info {
    min-height: 100vh;
    border: 1px solid grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;  
    font-size: 1.3rem; 
    color: var(--text-color);
    background-color: var(--main-bg-color);    
  }

  #skills {
    min-height: 100vh;
    border: 1px solid grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 3vh;
    margin-left: 10vh;
    margin-right: 10vh;  
    font-size: 1.3rem; 
    background-color: var(--main-bg-color);   
  }

  .card_container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
    margin: 5vw 0vw 0vw 2vw;
    width: 60vw;
  }

  .card { 
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     position: relative;
     border-color: red;
     border-width: 4px;
     width: 25vw;
     background-color: black;
     color: white;
     margin-bottom: 2vh;
   }
 
   .card_image {
       border-radius: 0;
       max-width: 25vw;
       position: relative;
       font-family: Arial;
   }
 
   .text_block {
     height: 5vh;
     position: absolute;
     border-color: white;
     color: white;
   }
 
   .text_on_image {
       color: white;
       padding-left: 1vw;
       padding-right: 1vw;
       color: white;  
     }  

  #projects {
    min-height: 100vh;
    border: 1px solid grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 10vh;
    margin-right: 10vh;  
    font-size: 1.3rem; 
    background-color: var(--main-bg-color);    
  }

  #projects a {
    font-size: 2rem;
    color: var(--text-color);    
  }