#introduction {
  width: 45% ;
  margin-left: auto ;
  margin-right: auto ;
}

#interests {
  width: 45% ;
  margin-left: auto ;
  margin-right: auto ;
}

#photos {
  width: 45% ;
  margin-left: auto ;
  margin-right: auto ;
}

#top_nav_bar {
  margin:0 auto;
  width: 60%;
}

body {
    font-family:Helvetica Neue;
    background-color: lightyellow;
    color:#000000;
}

h1 {
    font-size:xx-large;
    text-align:center;
}

section {
    padding:0px 0 0px 0;
}

nav {
    display:inline-block;
    padding:0px 0 0px 0;
    margin:0 auto;
    width: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav p {
    display:inline-block;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

a {
    text-decoration:none;
}

footer {
    color:#a3a3a3;
    text-align:center;
}

.photos {
  margin:0 auto;
  width: 80%;
  align-content: center;
}

#nav {
  position: absolute;
  left: 0px;
  height: 40px;
  background-color: #2C64B4;
  width: 100%;
  text-align: center;
}

.education {
  margin:0 auto;
}

#myName {
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
  align-content:center;
}

#title {
  width: 45% ;
  margin-left: auto ;
  margin-right: auto ;
}
